$base-font-size: 16px;
$rem-base: 1rem;
$color-white: hsl(0deg 0% 100%);
$color-black: hsl(0deg 0% 0%);
$color-light-pink: hsl(275deg 100% 97%);
$color-pink: hsl(290deg 80% 53%);
$color-grayish-purple: hsl(292deg 16% 49%);
$color-dark-purple: hsl(292deg 42% 14%);
$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1440px;
$body-padding: 24px;
$main-distance-to-top-mobile: 140px;
$main-distance-to-top-tablet: 168px;
$font-family: 'Work Sans', sans-serif;
