@use 'sass:math' as math;
@use 'reset';
@use 'utils';
@use 'variables';

.js {
  main,
  .site-attribution {
    display: block;
  }

  noscript {
    display: none;
  }
}

.no-js {
  main,
  .site-attribution {
    display: none;
  }

  noscript {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: variables.$font-family;
    padding: utils.rem(24px);
    text-align: center;
  }
}

body {
  font-family: variables.$font-family;
  font-size: utils.rem(variables.$base-font-size);
  background-color: variables.$color-light-pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: utils.rem(24px);
  margin: 0 auto;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    max-height: utils.rem(230px);
    background-size: cover;
    background-image: url('../assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
  }
}

/* stylelint-disable no-descending-specificity */
main {
  background-color: variables.$color-white;
  border-radius: variables.$rem-base;
  padding: 0 utils.rem(32px);
  margin-top: utils.rem(142px);
  max-width: utils.rem(600px);
  width: 100%;
  box-shadow: 0 utils.rem(10px) utils.rem(30px) rgb(0 0 0 / 10%);
}
/* stylelint-enable */

.accordion-container {
  margin-bottom: utils.rem(28px);
}

.accordion-header {
  display: flex;
  align-items: center;
  gap: utils.rem(16px);
  margin-top: utils.rem(30px);
  margin-bottom: utils.rem(28px);
}

.icon-star {
  width: utils.rem(18px);
  height: utils.rem(18px);
}

.accordion-title {
  color: variables.$color-dark-purple;
  line-height: 1;
  font-weight: 700;
  font-size: utils.rem(27px);
}

.accordion-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: inherit;
  border: none;
  width: 100%;
  padding: 0;
  font-family: inherit;
  padding-bottom: utils.rem(24px);

  &:focus-visible {
    outline: utils.rem(2px) solid variables.$color-dark-purple;
    outline-offset: utils.rem(2px);
    border-radius: utils.rem(4px);
  }

  &:focus,
  &:active {
    background-color: transparent;
  }

  .accordion-toggle-icon {
    transform: rotate(0deg);
  }
}

.accordion-item-heading {
  color: variables.$color-dark-purple;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  font-size: utils.rem(variables.$base-font-size);

  &:hover {
    color: variables.$color-pink;
  }
}

.accordion-content {
  color: variables.$color-grayish-purple;
  line-height: 1.6;
  transition:
    visibility 0s,
    opacity 0.3s ease;
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  font-size: utils.rem(14px);
  font-weight: 400;
}

.accordion-item {
  border-bottom: 1px solid variables.$color-light-pink;
  padding-top: utils.rem(24px);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  &.active {
    .accordion-toggle-icon {
      transform: rotate(-180deg);
    }

    .accordion-content {
      visibility: visible;
      opacity: 1;
      height: auto;
      margin-bottom: utils.rem(24px);
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .accordion-item-header .icon {
    transition: transform 0.3s ease;
  }
}

@media (prefers-reduced-motion: reduce) {
  .accordion-item-header .icon {
    transition: none;
  }
}

/* stylelint-disable no-descending-specificity */
.site-attribution {
  margin-top: utils.rem(32px);
  font-size: utils.rem(14px);
  text-align: center;
  color: variables.$color-grayish-purple;

  a {
    color: variables.$color-dark-purple;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
/* stylelint-enable */

@media (min-width: variables.$tablet-width) {
  body::before {
    background-image: url('../assets/images/background-pattern-desktop.svg');
    max-height: utils.rem(338px);
  }

  main {
    margin-top: utils.rem(164px);
  }

  .accordion-container {
    margin-bottom: utils.rem(44px);
  }

  .accordion-title {
    font-size: utils.rem(50px);
  }

  .accordion-header {
    margin-top: utils.rem(49px);
    margin-bottom: utils.rem(40px);
    gap: utils.rem(24px);
  }

  .icon-star {
    width: initial;
    height: initial;
  }

  .accordion-item {
    padding-top: utils.rem(32px);
  }

  .accordion-content {
    font-size: utils.rem(variables.$base-font-size);
  }

  .accordion-item.active .accordion-content {
    margin-bottom: utils.rem(32px);
  }

  .accordion-item-header {
    padding-bottom: utils.rem(32px);

    &:last-child {
      padding-bottom: 0;
    }
  }

  .accordion-item-heading {
    font-size: utils.rem(18px);
  }
}
