/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 9. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

.js main,
.js .site-attribution {
  display: block;
}
.js noscript {
  display: none;
}

.no-js main,
.no-js .site-attribution {
  display: none;
}
.no-js noscript {
  display: flex;
  min-height: 100vh;
  padding: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  background-color: hsl(275, 100%, 97%);
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  width: 100vw;
  height: 100%;
  max-height: 14.375rem;
  transform: translateX(-50%);
  background: url("../assets/images/background-pattern-mobile.svg") top center/cover no-repeat;
}

/* stylelint-disable no-descending-specificity */
main {
  width: 100%;
  max-width: 37.5rem;
  margin-top: 8.875rem;
  padding: 0 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.1);
}

/* stylelint-enable */
.accordion-container {
  margin-bottom: 1.75rem;
}
.accordion-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.875rem 0 1.75rem;
}
.accordion-title {
  color: hsl(292, 42%, 14%);
  font-size: 1.6875rem;
  font-weight: 700;
  line-height: 1;
}

.icon-star {
  width: 1.125rem;
  height: 1.125rem;
}

.accordion-item {
  padding-top: 1.5rem;
  border-bottom: 1px solid hsl(275, 100%, 97%);
}
.accordion-item:first-child {
  padding-top: 0;
}
.accordion-item:last-child {
  border-bottom: none;
}
.accordion-item-header {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 0 0 1.5rem;
  align-items: center;
  justify-content: space-between;
  font-family: inherit;
  background: inherit;
  border: none;
  cursor: pointer;
}
.accordion-item-header:focus-visible {
  outline: 0.125rem solid hsl(292, 42%, 14%);
  outline-offset: 0.125rem;
  border-radius: 0.25rem;
}
.accordion-item-header:focus, .accordion-item-header:active {
  background-color: transparent;
}
.accordion-item-header .accordion-toggle-icon {
  transform: rotate(0deg);
}
.accordion-item-heading {
  color: hsl(292, 42%, 14%);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
}
.accordion-item-heading:hover {
  color: hsl(290, 80%, 53%);
}

.accordion-content {
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  color: hsl(292, 16%, 49%);
}

.accordion-item.active .accordion-toggle-icon {
  transform: rotate(-180deg);
}
.accordion-item.active .accordion-content {
  height: auto;
  visibility: visible;
  opacity: 1;
  margin-bottom: 1.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .accordion-item-header .accordion-toggle-icon {
    transition: transform 0.3s ease;
  }
  .accordion-content {
    transition: visibility 0.4s ease, opacity 0.4s ease, height 0.4s ease;
  }
}
@media (prefers-reduced-motion: reduce) {
  .accordion-item-header .accordion-toggle-icon,
  .accordion-content {
    transition: none;
  }
}
/* stylelint-disable no-descending-specificity */
.site-attribution {
  margin-top: 2rem;
  font-size: 0.875rem;
  text-align: center;
  color: hsl(0, 0%, 0%);
}
.site-attribution a {
  color: hsl(292, 42%, 14%);
  text-decoration: none;
}
.site-attribution a:hover {
  text-decoration: underline;
}

/* stylelint-enable */
@media (min-width: 768px) {
  body::before {
    background-image: url("../assets/images/background-pattern-desktop.svg");
    max-height: 21.125rem;
  }
  main {
    margin-top: 10.25rem;
  }
  .accordion-container {
    margin-bottom: 2.75rem;
  }
  .accordion-title {
    font-size: 3.125rem;
  }
  .accordion-header {
    margin: 3.0625rem 0 2.5rem;
    gap: 1.5rem;
  }
  .icon-star {
    width: initial;
    height: initial;
  }
  .accordion-content {
    font-size: 1rem;
  }
  .accordion-item {
    padding-top: 2rem;
  }
  .accordion-item-header {
    padding-bottom: 2rem;
  }
  .accordion-item-header:last-child {
    padding-bottom: 0;
  }
  .accordion-item-heading {
    font-size: 1.125rem;
  }
  .accordion-item.active .accordion-content {
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
