@use 'sass:math' as math;
@use 'reset';
@use 'utils';
@use 'variables';

.js {
  main,
  .site-attribution {
    display: block;
  }

  noscript {
    display: none;
  }
}

.no-js {
  main,
  .site-attribution {
    display: none;
  }

  noscript {
    display: flex;
    min-height: 100vh;
    padding: utils.rem(24px);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: variables.$font-family;
  }
}

body {
  min-height: 100vh;
  margin: 0 auto;
  padding: utils.rem(24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: variables.$font-family;
  font-size: utils.rem(variables.$base-font-size);
  background-color: variables.$color-light-pink;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    max-height: utils.rem(230px);
    background: url('../assets/images/background-pattern-mobile.svg') top
      center/cover no-repeat;
  }
}

/* stylelint-disable no-descending-specificity */
main {
  width: 100%;
  max-width: utils.rem(600px);
  margin-top: utils.rem(142px);
  padding: 0 utils.rem(32px);
  background-color: variables.$color-white;
  border-radius: variables.$rem-base;
  box-shadow: 0 utils.rem(10px) utils.rem(30px) rgb(0 0 0 / 10%);
}
/* stylelint-enable */

// Accordion styles
.accordion {
  &-container {
    margin-bottom: utils.rem(28px);
  }

  &-header {
    display: flex;
    align-items: center;
    gap: utils.rem(16px);
    margin: utils.rem(30px) 0 utils.rem(28px);
  }

  &-title {
    color: variables.$color-dark-purple;
    font-size: utils.rem(27px);
    font-weight: 700;
    line-height: 1;
  }
}

.icon-star {
  width: utils.rem(18px);
  height: utils.rem(18px);
}

// Accordion items
.accordion-item {
  padding-top: utils.rem(24px);
  border-bottom: 1px solid variables.$color-light-pink;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  &-header {
    display: flex;
    gap: utils.rem(8px);
    align-items: center;
    justify-content: space-between;
    padding-bottom: utils.rem(24px);
    color: variables.$color-dark-purple;
    font-size: utils.rem(variables.$base-font-size);
    font-weight: 600;
    line-height: 1.2;
    cursor: pointer;

    &:focus-visible {
      outline: utils.rem(2px) solid variables.$color-dark-purple;
      outline-offset: utils.rem(2px);
      border-radius: utils.rem(4px);
    }
  }

  &-toggle-btn {
    flex-shrink: 0;
    padding: utils.rem(4px);
    background: inherit;
    border: none;
    cursor: pointer;

    &:focus-visible {
      outline: none;
    }

    .accordion-toggle-icon {
      transform: rotate(0deg);
    }
  }

  &-title {
    flex: 1;

    &:hover {
      color: variables.$color-pink;
    }
  }
}

.accordion-content {
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  font-size: utils.rem(14px);
  font-weight: 400;
  line-height: 1.6;
  color: variables.$color-grayish-purple;
}

.accordion-item.active {
  .accordion-toggle-icon {
    transform: rotate(-180deg);
  }

  .accordion-content {
    height: auto;
    visibility: visible;
    opacity: 1;
    margin-bottom: utils.rem(24px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .accordion-item-header .accordion-toggle-icon {
    transition: transform 0.3s ease;
  }

  .accordion-content {
    transition:
      visibility 0.4s ease,
      opacity 0.4s ease,
      height 0.4s ease;
  }
}

@media (prefers-reduced-motion: reduce) {
  .accordion-item-header .accordion-toggle-icon,
  .accordion-content {
    transition: none;
  }
}

/* stylelint-disable no-descending-specificity */
.site-attribution {
  margin-top: utils.rem(32px);
  font-size: utils.rem(14px);
  text-align: center;
  color: variables.$color-black;

  a {
    color: variables.$color-dark-purple;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
/* stylelint-enable */

@media (min-width: variables.$tablet-width) {
  body::before {
    background-image: url('../assets/images/background-pattern-desktop.svg');
    max-height: utils.rem(338px);
  }

  main {
    margin-top: utils.rem(164px);
  }

  .accordion {
    &-container {
      margin-bottom: utils.rem(44px);
    }

    &-title {
      font-size: utils.rem(50px);
    }

    &-header {
      margin: utils.rem(49px) 0 utils.rem(40px);
      gap: utils.rem(24px);
    }
  }

  .icon-star {
    width: initial;
    height: initial;
  }

  .accordion-content {
    font-size: utils.rem(variables.$base-font-size);
  }

  .accordion-item {
    padding-top: utils.rem(32px);

    &-header {
      font-size: utils.rem(18px);
      padding-bottom: utils.rem(32px);
    }

    &.active .accordion-content {
      margin-bottom: utils.rem(32px);
    }
  }
}
